/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .title {
  color: white;
}

/*nav .blue {
  border: 1px solid blue;
}*/

/*nav .nav-title {
  display: inline-block;
  font-size: 32px;
  padding: 28px 0;
  padding: 0px 0;   
}*/

p {
  line-height: 2rem;
}
.headbg {
  background-color: red;
}

.headl1{
  position: relative;
  left: 15%;
  width: 70%;
  top: -75px;
  border-color: rgb(32, 27, 141);
  border-style: solid;
  border-width: 2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  line-height: 0;
  z-index: 30
}

.headdiv{
  background: #384999;
  border: 1px solid blue;
  border-color: #2F3D7F;
}
.divkontainer{
  position: relative;
  z-index: 10;
  width: 100%;
}

img .titleimg{
  padding: 0;
  position: relative;
  width: 100%;
  margin: 0;
  border-spacing: 0;
}

}
.divtitelbild{
  position: relative;
  z-index: 50;
  width: 70%;
  left: 15%;
  height: auto;
}

.overhalf{
  position: relative;
  z-index: 20;
  background: linear-gradient(0deg, #4054AF 90%, #384999 100%);
  border: 1px solid blue;
  border-color: #2F3D7F;
  height: 150px;
}
.underhalf{
  z-index: 20;
  background: white;
  height: 50%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 4.2rem;
  /*line-height: 110%;*/
  /*margin-top: 1em;*/
  /*margin: 2.8rem 0 1.68rem 0;*/
  font-size: 2em;
  /*margin: 0.67em 0;*/
  /*font-weight: 400;*/
  line-height: 1.3;
  font-weight: inherit;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 40%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
