/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .title {
  color: white;
}

/*nav .blue {
  border: 1px solid blue;
}*/

/*nav .nav-title {
  display: inline-block;
  font-size: 32px;
  padding: 28px 0;
  padding: 0px 0;   
}*/
.galleriebox {
  top: 85% !important;
}

.collapsible-body {
  padding: 1rem !important;
}

p {
  line-height: 1,4rem;
}
.headbg {
  background-color: red;
}

.loes {
  display: none;
}

.headl1{
  position: relative;
/*  left: 15%;
  width: 70%;*/
  /*top: 12rem;*/
  border-color: rgb(32, 27, 141);
  border-style: solid;
  border-width: 2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  line-height: 0;
  z-index: 30
}

.headdiv{
  background: #384999;
  border: 1px solid blue;
  border-color: #2F3D7F;
}
.divkontainer{
  position: relative;
  top: 4rem;
  z-index: 10;
  width: 100%;
}

img .titleimg{
  padding: 0;
  position: relative;
  width: 100%;
  margin: 0;
  border-spacing: 0;
}

}
.divtitelbild{
  position: relative;
  z-index: 1;
  width: 70%;
  left: 15%;
  height: auto;
}

.overhalf{
  position: absolute;
  z-index: 0;
  background: linear-gradient(0deg, #4054AF 90%, #384999 100%);
  border: 1px solid blue;
  border-color: #2F3D7F;
  top: 11rem;
  width: 100%;
  height: 18rem;
}
.underhalf{
  z-index: 0;
  background: white;
  height: 4rem;
}
#Bodi{
  position: relative;
  width: 100%;
  top: 0;
  z-index: 3;
}
.navigating{
  position: absolute;
  width: 12%;
  left: 1rem;
  top: 15rem;
  z-index: 50;
  padding-left: 2rem;
}

h1 {
  color: white;
  text-align: center;
  font-size: 4.2rem;
  /*line-height: 110%;*/
  /*margin-top: 1em;*/
  /*margin: 2.8rem 0 1.68rem 0;*/
  font-size: 2em;
  /*margin: 0.67em 0;*/
  /*font-weight: 400;*/
  line-height: 1.3;
  font-weight: inherit;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 40%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*--------JPAGINATION-------*/
/*.jPaginate{
    height:34px !important;
    position:relative !important;
    color:#a5a5a5 !important;
    font-size:small;
    width:200px;
    box-sizing: content-box;
}
.jPaginate a{
    line-height:15px !important;
    height:18px !important;
    cursor:pointer !important;
    padding:2px 5px !important;
    margin:2px !important;
    float:left !important;
}
.jPag-control-back{
  position:absolute !important;
  left:0px !important;
}
.jPag-control-front{
  position:absolute !important;
  top:0px !important;
}
.jPaginate span{
    cursor:pointer !important;
}
ul.jPag-pages{
    float:left !important;
    list-style-type:none !important;
    margin:0px 0px 0px 0px !important;
    padding:0px !important;
    width: 10%;
}
ul.jPag-pages li{
    display:inline !important;
    float:left !important;
    padding:0px !important;
    margin:0px !important;
}
ul.jPag-pages li a{
    float:left !important;
    padding:2px 5px !important;
}
span.jPag-current{
    cursor:default !important;
    font-weight:normal !important;
    line-height:15px !important;
    height:18px !important;
    padding:2px 5px !important;
    margin:2px !important;
    float:left !important;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
    height:22px !important;
    margin:2px !important;
    float:left !important;
    line-height:18px !important;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px !important;
    font-size:12px !important;
    font-weight:bold !important;
        width:10px !important;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px !important;
    font-size:12px !important;
    font-weight:bold !important;
    width:10px !important;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px !important;
    font-size:18px !important;
    width:15px !important;
    text-align:right !important;
}
span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px !important;
    font-size:18px !important;
    width:15px !important;
     text-align:right !important;
}
ul.jPag-pages li span.jPag-previous-img{
    background:transparent url(../images/previous.png) no-repeat center right;
            }
ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../images/next.png) no-repeat center left;
            }
span.jPag-sprevious-img{
    background:transparent url(../images/sprevious.png) no-repeat center right;
            }
span.jPag-snext-img{
    background:transparent url(../images/snext.png) no-repeat center left;
            }
*/