{% do view.registerAssetBundle("plugins\\dolphiq\\iconpicker\\assets\\sharedAsset") %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="js/materialize.js"></script>
		<script type="text/javascript" src="js/jquery.easyPaginate.js"></script>
		{% do view.registerCssFile("css/materialize.css") %}
		{% do view.registerCssFile("css/style.css") %}
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		
		{% block main %}{% endblock %}
		
		<p>&nbsp</p>
		  <script type="text/javascript">
			$( window ).on( "load", function() {
       			$('#paginateer').easyPaginate({
					paginateElement: 'div',
					elementsPerPage: 1,
					effect: 'fade'
				});
    		});	
		</script>		
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {
				/*bildgallery skript*/
				var elems = document.querySelectorAll('.carousel');
				var instances1 = M.Carousel.init(elems, {fullWidth: true, indicators:true});
				/*akkordeon skript*/
				var colelems = document.querySelectorAll('.collapsible');
				var instances2 = M.Collapsible.init(colelems, {accordion: false});
				/*Menü Suche*/
				var dropelems = document.querySelectorAll('.dropdown-trigger');
				var instances3 = M.Dropdown.init(dropelems, {closeOnClick: true, constrainWidth: false});
				/*paginateer*/
				/*var pageelems = document.querySelectorAll('.paginateer');
				var instances4 = easyPaginate.init(pageelems, { paginateElement: 'div', elementsPerPage: 1, effect: 'fade'});*/	
			});
		</script>
		<script type="text/javascript">
		</script>
	</body>
</html>