{% do view.registerAssetBundle("plugins\\dolphiq\\iconpicker\\assets\\sharedAsset") %}
<!DOCTYPE html>
	<html lang="de">
	<head>
		<script type="text/javascript" src="http://testing.multimedia-lernen.de/js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="http://testing.multimedia-lernen.de/js/materialize.js"></script>
		<script type="text/javascript" src="http://testing.multimedia-lernen.de/js/jquery.easyPaginate.js"></script>
		{% do view.registerCssFile("http://testing.multimedia-lernen.de/css/materialize.css") %}
		{% do view.registerCssFile("http://testing.multimedia-lernen.de/css/style.css") %}
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		{# materialize icons #}
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		{# flag icons #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" />


		{% block main %}{% endblock %}
		<p>&nbsp</p>
		  <script type="text/javascript">
			$( window ).on( "load", function() {
       			$('#paginateer').easyPaginate({
					paginateElement: 'div',
					elementsPerPage: 1,
					effect: 'fade'
				});
    		});	
		</script>		
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {
				/*bildgallery skript*/
				var elems = document.querySelectorAll('.carousel');
				var instances1 = M.Carousel.init(elems, {fullWidth: true, indicators:true});
				/*akkordeon skript*/
				var colelems = document.querySelectorAll('.collapsible');
				var instances2 = M.Collapsible.init(colelems, {accordion: false});
				/*Menü Suche*/
				var dropelems = document.querySelectorAll('.dropdown-trigger');
				var instances3 = M.Dropdown.init(dropelems, {closeOnClick: true, constrainWidth: false});
				/*Bildgallerie Slider*/
				var elemsgallerie = document.querySelectorAll('.slider');
    			var instances4 = M.Slider.init(elemsgallerie, {interval:10000, height: 800});
				/*paginateer*/
				/*var pageelems = document.querySelectorAll('.paginateer');
				var instances4 = easyPaginate.init(pageelems, { paginateElement: 'div', elementsPerPage: 1, effect: 'fade'});*/	
			});
		</script>
		<script type="text/javascript">
		</script>
	</body>
</html>
