{% extends '_layout' %}
{% block main %}
</head>
<body>
	{% include 'menu' %}
	<div class="headdiv">
		<h1 class="center-align white-text">{{entry.title}}</h1>
	</div>
	{% set asset = entry.titelbild.one() %}
	{% if asset %}
		<div class="divkontainer" style="height: auto;">
			<div class="container">
				<div class="headl1 z-depth-3 col s12">
					<img class="responsive-img center-align" src="{{ asset.url }}" width="100%">
				</div>
			</div>
		</div>
		<div class="overhalf">
		</div>
		<div class="underhalf center-align">
		</div>

	{% endif %}
	<div class="navigating z-depth-5 blue">
			<h6 class="white-text">Inhaltsverzeichnis:</h6>
			{% set kapcount = 0 %}
			{% set navig = craft.entries.section('reptilien').all() %}		
			<ul>
				{% nav page in navig %}
				<li>
					<a class="white-text" href="{{page.url}}">{{page.title}}</a>
					{% ifchildren %}
						<ul style="padding-left: 2rem;">
						<span >{% children %}</span>
						</ul>
					{% endifchildren %}
				</li>
			{% endnav %}
		</ul>
	</div>
	<div id="Bodi" class="section">
		
	<div class="container">
		<div class="row">
			{# ------------HIER GREIFT DAS MATRIX TWIG ------------------ #}
			{# EINGEBUNDEN MIT {% include 'matrix' %} #}
			{% include 'matrix' %}
		</div>
	</div>
</div>
{% endblock %}